<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <h1>Angular Sample Application</h1>
            </div>
            <div class="text-center">
                <p class="text-left">Application Key Features</p>
            </div>
            <ul>
                <li>Bootstrap</li>
                <li>Navigation and Routing Basics</li>
                <li>Template, Interpolations and Directives</li>
                <li>Data Binding (Event Binding and Two-Way Binding)</li>
                <li>Transforming Data with Pipes</li>
                <li>Interfaces</li>
                <li>Lifecycle Hooks</li>
                <li>Services and Dependency Injection</li>
                <li>Retrieving Data - HTTP</li>
                <li>Observables</li>
                <li>Reactive Form</li>
            </ul>
        </div>
    </div>
</div>